.card {
  height: 260px;
  flex: 0 0 310px;
  margin: 10px;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.fab-button {
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 998;
}
